{% extends './layout.html' %}

{% block title %} Consultas {% endblock %}

{% block body %}

<div class="table-responsive">
    <table class="table table-hover table-striped table-warning table-align-middle caption-top"
        id="table-consulta-proyectos">
        <caption>Lista de proyectos</caption>
        <thead class="table-danger">
            <tr>
                <th scope="col">ID proyecto</th>
                <th scope="col">Nombre de proyecto</th>
                <th scope="col">Estatus</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Cliente</th>
                <th scope="col">Registro Patronal</th>
                <th scope="col">Trabajo diario</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for proyecto in pagination.items %}
            <tr>
                <td>{{ proyecto.id_proyecto }}</td>
                <td>{{ proyecto.nombre_proyecto}}</td>
                {% if proyecto.status == True %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                <td>{{ proyecto.ubicacion }}</td>
                <td>{{ proyecto.cliente }}</td>
                <td>{{ proyecto.registro_patronal }}</td>
                {% if proyecto.trabajo_diario == True %}
                <td>Lunes a domingo</td>
                {% else %}
                <td>Lunes a sábado</td>
                {% endif %}
                <td>
                    <div class="text-center mb-3">
                        <button class="btn btn-danger" name="{{proyecto.nombre_proyecto}}"
                            value="{{proyecto.id_proyecto}}" onclick="deleteProject(this.value,this.name)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('consulta_proyectos',page=pagination.prev_num)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for number in pagination.iter_pages() %}
        {% if pagination.page != number %}
        <li class="page-item"><a class="page-link" href="{{url_for('consulta_proyectos',page=number)}}">{{number}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="#">{{number}}</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('consulta_proyectos', page=pagination.next_num) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<button class="btn btn-danger mb-3" id="btnExport" onclick="exportTableToExcel('table-consulta-proyectos')">Descargar
    tabla en Excel</button>
{% endblock %}