{% extends './layout.html' %}

{% block title %} Lista de empleados {% endblock %}

{% block body %}
{% if message %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡Espera!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container">
    <form action="" method="post" class="rounded border border-primary p-3">
        <div class="row g-3">
            <legend class="text-center mb-3">Registro de pagos</legend>
            <div class="col-md-8 mb-1">
                <select class="form-select" id="id_proyecto" aria-label="Default select example" name="id_proyecto"
                    aria-placeholder="Nombre de proyecto" required>
                    <option value="Selecciona el proyecto" selected>Selecciona el proyecto</option>
                    {% for proyecto in proyectos %}
                    <option value="{{ proyecto.id_proyecto }}"> {{ proyecto.nombre_proyecto }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-1">
                <input type="submit" class="btn btn-danger container-fluid mb-3" value="Consultar" onclick="return validateFormAsistencias()"/>
            </div>
        </div>
    </form>
</div>

{% if empleados %}
<form action="" method="post">
    <table class="table table-hover table-striped table-warning table-align-middle">
        <thead class="table-danger">
            <tr>
                <th scope="col">Nombre completo</th>
                <th scope="col">Salario base</th>
                <th scope="col">Salario IMSS</th>
                <th scope="col">Descuento FONACOT</th>
                <th scope="col">Descuento INFONAVIT</th>
                <th scope="col">Notas</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td hidden>
                    <input name="proyecto" type="number" step=".01" value="{{ empleado.id_proyecto }}">
                </td>
                <td>{{ empleado.nombre_empleado}}</td>
                <td>{{ "${:,.2f}".format(empleado.salario_base) }}</td>
                <td>{{ "${:,.2f}".format(empleado.salario_base_IMSS) }}</td>
                <td>
                    {% if empleado.descuento_FONACOT == True %}
                    <input name="descuento_FONACOT" type="number" step=".01" placeholder="Descuento FONACOT" value="0"
                        required>
                    {% else %}
                    <input hidden name="descuento_FONACOT" type="number" step=".01" placeholder="Descuento FONACOT"
                        value="0">
                    {% endif %}
                </td>
                <td>
                    {% if empleado.descuento_INFONAVIT == True %}
                    <input name="descuento_INFONAVIT" type="number" step=".01" placeholder="Descuento INFONAVIT"
                        value="0" required>
                    {% else %}
                    <input hidden name="descuento_INFONAVIT" type="number" step=".01" placeholder="Descuento INFONAVIT"
                        value="0">
                    {% endif %}
                </td>
                <td>
                    <textarea name="notas" id="notas" cols="20" rows="3">

                    </textarea>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" class="btn btn-primary mb-3" value="Registrar pagos" />
</form>
{%endif%}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>
{% endblock %}